@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: #053f52;
    border-radius: 4px;
    padding: 1em;
    align-items: center;
    color: white;
}

header div img {
    max-width: 150px;
    border-radius: 4px;
}

main {
    text-align: left;
}

footer {
    background-color: #053f52;
    color: lightgray;
    border-radius: 4px;
    padding: 1em;
    align-items: center;
}

ul li {
    margin: .5em;
    background-color: #f8f8f8;
    padding: 0.5em;
    border-radius: 4px;
    box-shadow: 1px 1px 1px #d0d0d0;
}

ul li a {
    color: #053f52;
}

.content {
    max-width: 50%;
    min-width: 35em;
    margin: 0 auto;
    text-align: center;
}