@media screen and (min-width: 70rem) {
    #header__hambtn {
        display: none;
    }

    .header__navbar--mobile {
        display: none;
    }

    .header__navbar--desktop {
        display: inline-block;
        margin-top: 2.5em;
    }

    .header__navbar--desktop li {
        list-style: none;
        display: inline-block;
        margin-right: .5em;
    }

    .header__navbar--desktop li.active a {
        background-color: var(--primary-darker-hover);
    }

    .header__navbar--desktop li a:hover {
        background-color: var(--primary-darker-hover);
    }

    .header__navbar--desktop li a {
        text-decoration: none;
        color: white;
        background-color: var(--primary-darker);
        padding: 1em;
    }

    .main__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 10em);
    }

    .main__event {
        order: 1;
        grid-column: span 1;
    }

    .main__spotlight {
        grid-row: span 3;
        grid-column: span 1;
        order: 3;
        grid-template-columns: 100%;
        grid-template-rows: repeat(3, 1fr);
    }


    .div__thirdspotlight {
        display: block;
    }

    .main__hero {
        order: 2;
        grid-column: span 2;
        grid-row: span 2;
    }

    .main__weather {
        order: 4;
    }

    .main__join {
        order: 5;
        grid-column: span 1;
    }

    .main__news {
        order: 6;
    }

    .main__news {
        grid-column: span 2;
        order: 6;
    }

    .footer__container--wide {
        display: flex;
        width: 70%;
    }

    /*
    - Join -
    */
    .body__discover-form {
        width: 80%;
    }

    .main__forminputs {
        width: 95%;
        margin: 0 auto;
        padding: 1em;
    }

    .label__membercontainer {
        display: inline-block;
        width: 18%;
        margin: .5em;
    }

    .form__input-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .form__input-grid label {
        width: 90%;
        color: #454545;
    }

    .form__input-grid label textarea {
        width: 210%;
    }

    /*
    - Discover -
    */
    #main__card-section {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2em;
        margin-left: 2em;
        margin-right: 2em;
    }

    #main__list-section {
        width: calc(80% - 2em);
        margin: 1em auto;
    }
}