@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    background-color: #d2e1e7;
}

header {
    width: 100%;
    background-color: var(--primary-dark);
    font-family: 'Montserrat', sans-serif;
}

h1 {
    color: lightgray;
    display: inline-block;
    font-size: medium;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif;
}

.main__grid {
    width: 95%;
    margin: auto;
    display: grid;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    grid-template-columns: 100%;
    grid-template-rows: 10em 10em 10em 10em 20em;
    margin-top: 1em;
}

.main__box {
    width: 100%;
    height: 100%;
    background-color: #f1f1f1;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 5px;
}

.box__content {
    margin: .5em;
}

.box__content a {
    color: var(--secondary-darker);
}

.box__content button {
    background-color: #baee87;
    border-radius: 2px;
    padding: .75em;
    width: 100%;
    border: none;
    border-bottom: 3px solid var(--secondary);
    cursor: pointer;
}

.spotlight__card {
    height: 10em;
    margin: .5em;
    position: relative;
    border-radius: 10px;
}

.spotlight__overlay {
    position: absolute;
    background-color: #000000b4;
    bottom: 0;
    line-height: 2.5em;
    width: 100%;
    color: white;
    height: 30%;
    text-align: center;
    font-size: large;
    border-radius: 0 0 5px 5px;
}

.spotlight__card img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.div__thirdspotlight {
    display: none;
}

.main__spotlight .main__box {
    width: 93%;
    height: 93%;
    margin: auto;
}

.main__join {
    display: none;
}

.main__weather {
    position: relative;
    display: none;
}

#header__date {
    color: white;
    text-align: center;
    padding: .5em;
    background-color: var(--primary-darker);
}

.header__topbar {
    display: flex;
    justify-content: space-between;
}

.header__social {
    margin-top: 2.5em;
}

.header__social a {
    color: white;
    background-color: var(--primary-darker);
    padding: .7em;
    border-radius: 15%;
    border: none;
    margin-right: .3em;
}

.header__social a:hover {
    background-color: #687a80;
}

.header__img {
    max-height: 5em;
    margin: .5em;
}

@media screen and (max-width: 25rem) {
    .header__img {
        max-height: 4em;
    }
}

.header__announcement {
    width: calc(100% - .4em);
    background-color: var(--secondary);
    text-align: center;
    padding: .2em;
}

.header__navbar--mobile {
    z-index: 10;
    position: absolute;
    width: 100%;
    margin: 0;
    left: -2.5em;
    top: 8em;
    text-align: center;
}

.header__navbar--mobile li {
    list-style: none;
    background-color: var(--primary-darker);
    margin: 0;
    padding: 1.2em;
    border-bottom: 1px solid var(--primary);
    font-size: large;
}

.header__navbar--mobile li.active {
    background-color: var(--primary-dark);
}

.header__navbar--mobile li:hover {
    background-color: var(--primary-darker-hover);
}

.header__navbar--mobile a {
    text-decoration: none;
    color: #eeeeee;
}

.header__hambtn {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: xx-large;
}

.header__navbar--desktop {
    display: none;
}

.main__hero {
    position: relative;
}

.main__hero h2 {
    position: absolute;
    color: white;
    background-color: #00000052;
    margin-left: .5em;
    padding: .5em;
}

.main__hero a {
    position: absolute;
    color: white;
    right: .5em;
    bottom: .8em;
    font-size: x-large;
    background-color: #00000063;
    padding: .5em;
}

.main__hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hidden {
    display: none !important;
}

footer {
    width: 100%;
    background-color: var(--primary-darker);
    color: white;
    padding: 2em 0 2em 0;
    margin-top: 2em;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

footer hr {
    margin-top: 2em;
    margin-bottom: 1em;
    border-color: var(--primary);
}

.footer__logo {
    max-width: 10em;
    margin-bottom: 1em;
}

.footer__text {
    margin-top: 1em;
    color: var(--secondary-light);
}

.footer__text a {
    color: white;
}

.footer__container--wide {
    display: none;
}

/*
- Discover page -
*/

.main__discover-grid {
    width: 70%;
    min-width: 30em;
    background-color: var(--primary);
    margin: 1.5em auto;
    padding: 1em;
}

.main__discover-entry {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-height: 22em;
    gap: 1em;
    margin-bottom: 1em;
    background-color: #c0cfd6;
    padding: .5em;
    box-shadow: #767676 0px 1px 1px;
}

.main__discover-entry p {
    height: fit-content;
    margin: auto 1em;
}

.main__discover-entry img {
    width: 100%;
    max-height: 20em;
    border-radius: 5px;
    box-shadow: #3e3e3e 1px 1px 4px;
}

.main__discover-entry img:hover {
    box-shadow: #3e3e3e 3px 3px 4px;
}

#last-visited {
    width: 100%;
    background-color: var(--primary-darker);
    text-align: center;
    color: white;
    font-family: 'Montserrat';
    padding-top: .2em;
    padding-bottom: .2em;
}

/*
- Join Page -
*/

.body__join-form {
    width: calc(100% - 6em);
    margin: 3em auto;
    background-color: var(--primary-light);
    padding: 2em;
    padding-top: 1em;
    border-radius: 5px;
}

.main_forminputs label {
    color: darkgray;
}

.main__forminputs input, .main__forminputs textarea {
    padding: .8em;
    display: block;
    margin-bottom: 1em;
    width: calc(100% - 1.6em);
    border: none;
    border-bottom: 1px solid gray;
    border-radius: 3px;
}

.main__forminputs input[type="radio"] {
    position: fixed;
    opacity: 0;
}

.form__memberships {
    margin-top: 3em;
}

.label__membercontainer {
    background-color: white;
    width: 90%;
    padding: 1em;
    margin: 1em;
    border: none;
    border-bottom: 2px solid var(--secondary);
    cursor: pointer;
    border-radius: 6px;
    display: block;
}

.label__membercontainer:hover {
    background-color: #f1ffdd;
}

.label__membercontainer ul li {
    margin-bottom: .5em;
}

.main__forminputs input[type="radio"]:checked + label div {
    background-color: var(--secondary-light);
    border: 2px solid white;
}

.main__forminputs input[type="submit"] {
    width: 100%;
    margin: 3em auto 1em auto;
    max-width: 30em;
    background-color: var(--secondary-light);
    cursor: pointer;
}

.main__forminputs input[type="submit"]:hover {
    box-shadow: 2px 2px 3px rgb(131, 131, 131);
    background-color: var(--secondary-lighter);
}

.body__thankscontainer {
    width: 60%;
    min-width: 24em;
    background-color: var(--primary-light);
    margin: 1em auto;
    color: black;
    padding: 2em;
}

/*
- Directory Page -
*/

.main__directory-header {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-dark);
    color: white;
    padding-left: 1em;
    padding-right: 1em;
    line-height: 4em;
}

.main__directory-header h3 {
    display: inline-block;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.main__directory-header button {
    color: white;
    background-color: var(--primary-darker);
    padding: .7em;
    border-radius: 15%;
    border: none;
    margin-left: .2em;
    cursor: pointer;
}

.main__directory-header button:hover {
    background-color: #687a80;
}

.main__directory-header button.active {
    background-color: #687a80;
    border: 1px solid #b1c2ce;
}

#main__card-section {
    display: grid;
    grid-template-columns: 100%;
    gap: 1em;
    margin: 1em;
}

#main__card-section section {
    background-color: white;
    padding: 1em;
    border-radius: 4px;
    box-shadow: 0px 2px 5px gray;
    text-align: center;
}

#main__card-section section h4, #main__card-section section p, #main__card-section section a {
    font-family: 'Montserrat', sans-serif;
}

#main__card-section section a {
    color: var(--secondary-darker);
}

#main__list-section {
    width: calc(100% - 2em);
    margin: 1em;
    border-collapse: collapse;
}

#main__list-section tr td a {
    color: var(--secondary-darker);
}

#main__list-section th {
    background-color: var(--primary);
    padding: .5em;
    display: none;
}

#main__list-section tr {
    border-bottom: 1px solid gray;
    background-color: white;
}

#main__list-section tr:nth-child(even) {
    background-color: #f7fcff;
}

#main__list-section tr td {
    display: block;
    padding: .75em;
}

/*
- Contact -
*/

.main__contact {
    width: calc(100% - 6em);
    margin: 3em auto;
    margin-bottom: 2em;
    background-color: var(--primary-light);
    padding: 2em;
    padding-top: 1em;
    border-radius: 5px;
}

.main__contact h3 {
    margin-bottom: -.4em;
}

.main__contact p {
    margin-bottom: 2.8em;
}

.contact__inline-inputs {
    display: grid;
    grid-template-columns: 100%;
    column-gap: .8em;
}

.main__board-directors {
    display: grid;
    gap: .2em;
    grid-template-columns: 100%;
    padding: .5em;
    border: 1px solid var(--secondary);
    border-radius: 4px;
}

.main__board-directors section {
    display: flex;
    justify-content: space-between;
    background-color: #cbdbe4;
    border-radius: 4px;
    padding: 1em;
}

.main__board-directors section img {
    width: 7em;
    height: 7em;
    object-fit: cover;
    object-position: top;
    border-radius: 100%;
}

.main__board-directors section span {
    font-family: 'Montserrat', sans-serif;
    margin: auto .5em;
    font-size: large;
    font-weight: 200;
    text-align: right;
}

:root {
    --primary: #b0bec5;
    --primary-light: #e2f1f8;
    --primary-dark: #808e95;
    --primary-darker: #616c70;
    --primary-darker-hover: #687a80;
    --secondary-lighter: #e3fcbf;
    --secondary-light: #e0ffb1;
    --secondary: #add681;
    --secondary-dark: #7ca453;
    --secondary-darker: #496b27;
}