@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    background-color: #d2e1e7;
}

header {
    width: 100%;
    background-color: var(--primary-dark);
    font-family: 'Montserrat', sans-serif;
}

h1 {
    color: lightgray;
    display: inline-block;
    font-size: medium;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    width: 95%;
    margin: auto;
    display: grid;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    grid-template-columns: 100%;
    grid-template-rows: 10em 10em 10em 10em 20em;
    margin-top: 1em;
}

.main__box {
    width: 100%;
    height: 100%;
    background-color: #f1f1f1;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 5px;
}

.box__content {
    margin: .5em;
}

.box__content a {
    color: var(--secondary-darker);
}

.box__content button {
    background-color: #baee87;
    border-radius: 2px;
    padding: .75em;
    width: 100%;
    border: none;
    border-bottom: 3px solid var(--secondary);
    cursor: pointer;
}

.spotlight__card {
    height: 10em;
    margin: .5em;
    position: relative;
    border-radius: 10px;
}

.spotlight__overlay {
    position: absolute;
    background-color: #000000b4;
    bottom: 0;
    line-height: 2.5em;
    width: 100%;
    color: white;
    height: 30%;
    text-align: center;
    font-size: large;
    border-radius: 0 0 5px 5px;
}

.spotlight__card img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.div__thirdspotlight {
    display: none;
}

.main__spotlight .main__box {
    width: 93%;
    height: 93%;
    margin: auto;
}

.main__join {
    display: none;
}

.main__weather {
    display: none;
}

#header__date {
    width: 100%;
    color: white;
    text-align: center;
    padding: .5em;
    background-color: var(--primary-darker);
}

.header__topbar {
    display: flex;
    justify-content: space-between;
}

.header__social {
    margin-top: 2.5em;
}

.header__social a {
    color: white;
    background-color: var(--primary-darker);
    padding: .7em;
    border-radius: 15%;
    border: none;
    margin-right: .8em;
}

.header__social a:hover {
    background-color: #687a80;
}

.header__img {
    max-height: 5em;
    margin: .5em;
}

.header__announcement {
    width: 100%;
    background-color: var(--secondary);
    text-align: center;
    padding: .2em;
}

.header__navbar--mobile {
    z-index: 10;
    position: absolute;
    width: 100%;
    margin: 0;
    left: -2.5em;
    top: 6em;
    text-align: center;
}

.header__navbar--mobile li {
    list-style: none;
    background-color: var(--primary-darker);
    margin: 0;
    padding: 1.2em;
    border-bottom: 1px solid var(--primary);
    font-size: large;
}

.header__navbar--mobile li:hover {
    background-color: var(--primary-darker-hover);
}

.header__navbar--mobile a {
    text-decoration: none;
    color: #eeeeee;
}

.header__hambtn {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: xx-large;
}

.header__navbar--desktop {
    display: none;
}

.main__hero {
    position: relative;
}

.main__hero h2 {
    position: absolute;
    margin-left: 1em;
    color: white;
    background-color: #00000052;
    padding: 1em;
}

.main__hero a {
    position: absolute;
    color: white;
    right: 1em;
    bottom: 1em;
    font-size: x-large;
    background-color: #00000063;
    padding: 1em;
}

.main__hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hidden {
    display: none !important;
}

footer {
    width: 100%;
    background-color: var(--primary-darker);
    color: white;
    padding: 2em 0 2em 0;
    margin-top: 2em;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

footer hr {
    margin-top: 2em;
    margin-bottom: 1em;
    border-color: var(--primary);
}

.footer__logo {
    max-width: 10em;
    margin-bottom: 1em;
}

.footer__text {
    margin-top: 1em;
    color: var(--secondary-light);
}

.footer__text a {
    color: white;
}

.footer__container--wide {
    display: none;
}

:root {
    --primary: #b0bec5;
    --primary-light: #e2f1f8;
    --primary-dark: #808e95;
    --primary-darker: #616c70;
    --primary-darker-hover: #687a80;
    --secondary: #add681;
    --secondary-light: #e0ffb1;
    --secondary-dark: #7ca453;
    --secondary-darker: #496b27;
}