@media screen and (min-width: 65rem) {

/*
- Index -
*/
.index_pop-sticker-grid {
    grid-template-columns: repeat(4, 1fr);
}

.index_pop-sticker:nth-child(3) {
    display: block;
}


/*
- Browse -
*/
.browse_main {
    grid-template-columns: repeat(3, 1fr);
    width: calc(90% - 6em);
}

/*
- Contact -
*/
.contact_main {
    width: calc(80% - 4em);
}

.contact_form {
    width: calc(70% - 6em);
}

/*
- Checkout -
*/
.checkout_main .checkout_form {
    width: calc(100% - 6em);
}

}