body {
    max-width: 75%;
    min-width: 45em;
    margin: auto;
}

header nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-bottom: 2px solid darkgray;
}

header nav a {
    text-decoration: none;
}

.nav-button {
    padding: 1em;
    background-color: #356c7e;
    margin: .1em;
    text-align: center;
    color: white;
    border-radius: 1px;
}

.nav-button:hover {
    background-color: #437d8f !important;
}

.nav-button.active {
    background-color: #275a7d;
}

#logo-example {
    background-color: lightgray;
    width: 10em;
}